/* You can add global styles to this file, and also import other style files */

.app-card {
  padding: 1.5%;
  margin-top: 20px;
  border: none;
}

.footer {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
  }